/* smaller resolutions */
@media screen and (max-width: 500px) {

    .hamburger {
        display: flex !important;
        margin-top: 10px;
        margin-right: 10px;
    }

    header #big-res-contact {
        display: none;
    }

    header {
        padding: 1em;
    }

    header .logo {
        width: 120px;
        margin-left: 5px;
    }

    .hero-section {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 10px;
        background-position-y: center;
        background-position-y: bottom;
        flex-direction: flex-start;
    }

    .whitespace {
        display: none;
    }


/* ----------- END OF NAVBAR -------- */

    .jumbotron {
        margin-left: 0px;
        text-align: center;
        background: url(/images/jumbo-text3.png);
        background-size: contain;
        height: 240px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .jumbotron h1 {
        font-size: xxx-large;
        letter-spacing: -2px;
        line-height: 1em;
        display: none;
    }

    .jumbotron h3 {
        font-size: large;
        letter-spacing: 0px;
        text-align: center;
        width: 100%;
        display: none;
    }

    .work-container h1 {
        font-size: 6vw;
    }

    .work-container .description {
        flex-direction: column;
    }

    .work-container .description button {
        margin-top: 1em;
    }

    .work-container .description span {
        width: 100%;
    }

}